$background-light: #E57373;
$background-moredark: #D50000;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(30px, 30px);
    background: $background-light;
    color: white;
    min-height: 150px;
    
    h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 3em;
    }
}


.active {
    background: $background-moredark;
}