<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="space-between center" 
    fxLayoutGap="10px">

  <div fxFlex="45" class="f1">
    <h4>Our Address</h4>
    <address>
      <div fxLayout="row wrap" fxLayoutAlign="between center">
        <div fxFlex>
          121, Clear Water Bay Road<br> Clear Water Bay, Kowloon<br> HONG KONG<br>
        </div>
        <div fxFlex>
          <i class="fa fa-phone"></i>: +852 1234 5678<br>
          <i class="fa fa-fax"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:confusion@food.net">confusion@food.net</a>
        </div>
      </div>
    </address>
  </div>
  
  <mat-divider vertical style="height: 120px;"></mat-divider>

  <div fxFlex="45" class="f2">
    <h4>Find us!</h4>
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
  </div>
</div>