.signup-box {
  border: 1px solid lightgray;
  padding: 40px;
  margin: 15px;
}

form {
  font-size: small;
}

.btn-fb {
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: royalblue;
  color: white;
}

.btn-g {
  margin-bottom: 20px;
  background-color: orangered;
  color: white;
}