<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around start"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

    <div fxFlex="40">
        <h1 matLine>Dish Detail</h1>
        <mat-card *ngIf="dish" [@visibility]="visibility" [@expand]>
            <mat-card-header>
                <mat-card-title>
                    <h3 *ngIf="dish">{{ dish.name | uppercase }}</h3> 
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{ baseURL + dish.image}}" alt={{dish.name}}>
            <mat-card-content>
                <p>{{ dish.description }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail', prev]">
                    <span class="fa fa-chevron-left fa-lg"></span>
                </button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button (click)="addToFavorites()"><span class="{{ favorite? 'fa fa-heart fa-lg' : 'fa fa-heart-o fa-lg' }}" aria-hidden="true"></span></button>
                <button mat-button>SHARE</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail', next]">
                    <span class="fa fa-chevron-right fa-lg"></span>
                </button>
            </mat-card-actions>
        </mat-card>
        <div [hidden]="dish || errMess">
            <mat-spinner></mat-spinner>
            <h4>Loading . . . Please wait</h4>
        </div>
        <div fxFlex *ngIf="errMess">
            <h2>Error</h2>
            <h4>{{ errMess }}</h4>
        </div>
    </div>

    <div fxFlex="40">
        <h1 matLine>Comments</h1>
        <h5 matLine *ngIf="!username" style="color: gray;">*Please log in to comment the dish</h5>
        <mat-list *ngIf="dish" [@visibility]="visibility" [@expand]>
            <mat-list-item *ngFor="let comment of dish.comments">
                <p matLine>
                    <span>{{ comment.comment }}</span>
                </p>
                <p matLine>
                    <span>{{ comment.rating }} Stars</span>
                </p>
                <p matLine>
                    <span>-- {{ comment.author.username }} {{ comment.date | date}}</span>
                </p>
            </mat-list-item>
        </mat-list>

        <form novalidate *ngIf="username" [formGroup]="commentForm" #cform='ngForm' (ngSubmit)="onSubmit()">
            <mat-list *ngIf="cform.form.valid">
                <mat-list-item>
                    <p matLine>
                        <span>{{ commentForm.get('comment').value }}</span>
                    </p>
                    <p matLine>
                        <span>{{ commentForm.get('rating').value }} Stars</span>
                    </p>
                    <p matLine>
                        <span>-- {{ username }}</span>
                    </p>   
                </mat-list-item>
            </mat-list>
            <table class="form-size">
                <tr>
                    <mat-slider formControlName="rating" min="1" max="5" step="1" value="5" thumbLabel tickInterval="1">
                    </mat-slider>
                </tr>
            </table>
            <p>
                <mat-form-field class="form-size">
                    <textarea matInput formControlName="comment" rows="12" placeholder="Your comment" required></textarea>
                    <mat-error *ngIf="formErrors.comment">{{ formErrors.comment }}</mat-error>
                </mat-form-field>
            </p>
            <button [disabled]="cform.form.invalid" type="submit" mat-button class="btn">
                Submit
            </button>
        </form>
    </div>
</div>