/* You can add global styles to this file, and also import other style files */
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome.scss';

@include mat-core();
@import 'my-theme.scss';

.main-theme {
  @include angular-material-theme($main-theme);
}

$lt-gray:              #ddd;
$background-light:     #E57373;
$background-moredark:  #D50000;
$background-dark:      #EF9A9A;
$background-pale:      #FFCDD2;
$primary-color-dark:   #C62828;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFF9C4;
$accent-color-dark:    #F9A825;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    margin: 20px;
    display: flex;
}

.background-primary {
    background-color: $background-dark!important;
  }
.background-accent {
    background-color: $accent-color!important;
  }
.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}
.full-width {
  width: 95%
}

.half-width {
  width: 45%
}

.form-size {
  width: 75%
}

.highlight {
  background-color: $accent-color;
  border: 1px solid $accent-color-dark;
  z-index: 1;
  transform: scale(1.01);
}